/* Document wide styling */

body {
    background-color: steelblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.1em;
}

/* Dashboard items */

.dash-item {
    display: inline-block;
    border: 1.25px solid white;
    border-radius: 5px;
    width: 30%;
    height: 40%;
    padding: 5px;
}

.dash-item:hover {
    background-color: white;
    color: steelblue;
    transition: 0.5s all;
}

.dash-item:hover > .dash-item-title {
    color: brown;
}

.dash-item-title {  
    font-size: 1.3em;
    text-align: center;
    color: white;
    margin: 10px;
}

.dash-item-content {
    margin-top: 50px;
    padding: 5px;
}

/* Item specific styling */

.drowsy-message {
    font-size: 1.2em;
    text-align: center;
    margin-top: 40px;
    color: red;
}

/* Circular Progress Bar */
.c100 {
    float: none;
    text-align: center;
    left: 35%;
}

.dash-item:hover .c100 {
    cursor: default;
}

.dash-item:hover .c100 > span {
    width: 3.33em;
    line-height: 3.33em;
    font-size: 0.3em;
    color: #307bbb;
}

.dash-item:hover .c100:after {
    top: 0.04em;
    left: 0.04em;
    width: 0.92em;
    height: 0.92em;
}

/* Positioning classes */ 

.top-right {
    position: absolute;
    top: 30px;
    right: 10%;
}

.top-left {
    position: absolute;
    top: 30px;
    left: 10%;
}

.bottom-right {
    position: absolute;
    bottom: 30px;
    right: 10%;
}

.bottom-left {
    position: absolute;
    bottom: 30px;
    left: 10%;
}