body {
    background-color: grey;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.dash-item {
    display: inline-block;
    border: 1px solid white;
    width: 30%;
    height: 40%;
    padding: 5px;
}

.top-right {
    position: absolute;
    top: 30px;
    right: 10%;
}

.top-left {
    position: absolute;
    top: 30px;
    left: 10%;
}

.bottom-right {
    position: absolute;
    bottom: 30px;
    right: 10%;
}

.bottom-left {
    position: absolute;
    bottom: 30px;
    left: 10%;
}